* {
  box-sizing: border-box;
}

/* InstantSearch */

.ais-SearchBox-form {
  position: relative;
  display: block;
}

.ais-SearchBox-input {
  color: #666;
  appearance: none;
  padding: .3rem 1.7rem;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}

[class^=ais-] {
  font-size: 1rem;
  box-sizing: border-box;
}

.ais-SearchBox-submit {
  left: .3rem;
}

.ais-SearchBox-submitIcon {
  width: 14px;
  height: 14px;
}

.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset,
.ais-SearchBox-submit {
  display: none;
}

.hits-container {
  padding: 0;
}

.ais-Hits-list {
  list-style-type: none;
  padding-left: 5px;
}

.hit {
  display: flex;
  justify-content: space-between;
}

.hit h1 {
  font-size: 1rem;
}

.hit p {
  font-size: 0.8rem;
  opacity: 0.8;
}

.hit-image {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}

.hit-image img {
  max-height: 100%;
}

.ais-HierarchicalMenu-item--selected.ais-HierarchicalMenu-item--parent>div:first-of-type .ais-HierarchicalMenu-label {
  font-weight: bold;
}

.ais-HierarchicalMenu-item--selected:not(.ais-HierarchicalMenu-item--parent) .ais-HierarchicalMenu-label {
  font-weight: bold;
}

.ais-Pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.ais-Pagination-list {
  list-style: none;
  display: flex;
}

.aa-ItemLink {
  border-bottom: 1px solid grey;
}

.hitItem {
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}
