/**
 * @file
 * Styles for views.
 */

.view,
.view-content {
  display: grid;
  gap: var(--sp2);
  grid-template-rows: max-content;
}

.view .views-field-title h2 {
  font-size: 1.5rem;
  line-height: var(--sp2);
}

.view .item-list ul {
  list-style: none;
}

.view .item-list {
  border-bottom: 1px solid var(--color--gray-95);
}

@media (min-width: 43.75rem) {
  .view,
  .view-content {
    gap: var(--sp3);
  }
}
